body {
    font-family: system-ui;
    background: #00669a;
    color: white;
    text-align: center;
  }
  
  img {
    height: 300px;
    width: auto;
  }

  #banner {
    border: 2px solid white;
    text-align: center;
    margin: auto;
    width: 300px;
    margin-bottom: 5px;
    background-color: rgb(0, 162, 255);
  }
  
  ul {
    text-align: center;
    list-style-position: inside;
  }
  
  h1 {
    color: #fff4f4;
    text-decoration: underline;
  }
  
  h2 {
    color: #fff4f4;
    text-decoration: underline;
  }
  
  #header-desciption {
    margin-top: -16px;
    font-style: italic;
  }
  
  #img-caption {
    margin-top: -3px;
    font-style: italic;
  }
  
  #tribute-link {
    color: yellow;
  }

